body {
    max-width: 1400px;
    margin: 0 auto;
}

h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
button{
    padding: 1em;
}
canvas {
    display: block;
    width: 95%;
    height: 200px;
    margin: 0 auto;
    aspect-ratio: 2.5;
}

.slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.slider-container label {
   flex-basis: 20%;
   margin-left: 1em; 
}

.slider-container .flipLabel {
   flex-basis: 15%;
   margin-right: 1em;
   text-align: right; 
}

.slider-container .modeLabel {
   flex-basis: 30%;
}

.slider-container .modeLabelLeft{
   text-align: right;
}
.slider-container  .modeLabelRight{
   text-align: left;
}

.slider-container input {
    flex-basis: 70%;
}

.slider-container input[type=checkbox] {
    flex-basis: 2%;
    opacity: 0.7;
}
.slider-container .hiddenCheckbox {
    display: none;
}

.slider-container .mid-slider {
    flex-basis: 36%;
}

.slider-container .short-slider {
    flex-basis: 15%;
}
.slider-container .longish-slider {
    flex-basis: 50%;
}

.slider-container output {
    flex-basis: 6em;
    text-align: center;
    margin-left: 6px;
}
.slider-container .longOut{
    flex-basis: 26%;
    text-align: left;
    margin-left: 2em;
}

.slider-container .help-icon {
    flex-basis: 20px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.233);
    color: white;
    font-family: sans-serif;
}

.slider-container .help-popup {
    display: none;
    position: absolute;
    right: 3em;
    width: 15em;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
}


.slider-container .blurredDisabled{
    filter: blur(1px);
    pointer-events: none !important;
    opacity: 0.3;
}
.presetHeader{
    display: flex;
    align-items: center;
}

.topSpaced{
    margin-top: 2em;
}

.bottomSpaced{
    margin-bottom: 2em;
}

.presetHeader h4{
    flex-basis: 20%;
}
.presetHeader h3{
    flex-basis: 20%;
}
.PresetButtons {
    flex-basis: 50%;
    display: flex;
    justify-content: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0em;
    margin-bottom: 0.5em;
}

.PresetButtons button{
    margin-top: 0em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#wavePreview{
 margin-top: 2em;
 margin-bottom: 0.5em;
}
#distortionPreview{
 margin-top: 2em;
 margin-bottom: 0.5em;
}

.previewButtons {
    margin-top: 0em;
    width: 95%;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    justify-content:right;
}
.previewButtons p{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.previewButtons .showDown:active{
    background-color: #833;
    color:white;
}
.spaceTop{
    margin-top: 1.5em;
}
.previewButtons .previewL{
    margin-right:auto;
    justify-content:left;
}

.previewButtons .previewC{
    margin-right:auto;
    justify-content:center;
}

.previewButtons .previewButton{
    margin-top: 0em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: x-small;
}

#notesEdit{
    margin-left: 1em;
    flex-basis: 100%;
    border: none;
}
#notesEdit:focus {
}

.button-selected {
    background-color: #007B00; /* Change to the color you want */
    color: white; /* Change to the color you want */
    border-radius: 5px;
}

.button-unselected {
    background-color: white; /* Change to the color you want */
    color: #000000; /* Change to the color you want */
    border-radius: 5px;
}

.tooltip{
    padding : 10px;
    background: white;
    border : 1px solid black;
    border-radius : 5px;
}

#serverPresetList{
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0em;
}

#centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#abxTestContainer {
    margin: 2em;
    padding: 2em;
    width: 25em;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#abxTestContainer .testCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}
#abxButtons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    margin-bottom: 3em;
}

.fftPlayButtons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0em;
    margin-bottom: 1em;
    margin-left: 20%;
    margin-right: 20%;
}
.fftPlayButton{
    margin-top: 0em !important;
    margin-bottom: 0em !important;
}
.bordered {
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.testSoundControls {

    margin: 0px;
    padding: 10px;
}

.bordered h3{
   margin-top: 0.1em; 
}

.bordered h4{
   margin-top: 1.5em; 
   margin-bottom: 1em;
}
.bordered button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 1em;
}

.waveformCanvas {
    margin-bottom: 2em;
}

.blur {
    filter: blur(4px);
}

.paragraphReport{
    text-align: center;
    color: #6b8b6b;
}