.slider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.slider-container label {
    flex-basis: 20%;
}

.slider-container input {
    flex-basis: 70%;
}

.slider-container span {
    flex-basis: 20%;
    text-align: left;
    margin-left: 10px;
}