/* ************************************************* */
/*           Theme handling                          */
/* ************************************************* */

:root {
    --text-color: black;
    --background-color: white;
    --border-color:gray;
    --shadow: rgba(0, 0, 0, 0.1);
    --tracks-color:#cfcfcf;
    --thumb-color: #1b6da8;
    --thumb-focus-color: #135280;
  }
  
  [data-theme="light"] {
    --text-color: black;
    --background-color: white;
    --border-color:gray;
    --shadow: rgba(0, 0, 0, 0.1);
    --tracks-color:#cfcfcf;
    --thumb-color: #1b6da8;
    --thumb-focus-color: #135280;
  }
  
  [data-theme="dark"] {
    --text-color: rgb(189, 189, 189);
    --background-color: rgb(26, 25, 25);
    --border-color:gray;
    --shadow: rgba(255, 255, 255, 0.1);
    --tracks-color:#4d4d4d;
    --thumb-color: #658297;
    --thumb-focus-color: #658297;
  }
  
  
  body {
    color: var(--text-color);
    background-color: var(--background-color);
    max-width: 1400px;
    margin: 0 auto;
}

h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
button{
    padding: 1em;
}
canvas {
    display: block;
    width: 95%;
    height: 200px;
    margin: 0 auto;
    aspect-ratio: 2.5;
}

textarea{
    color: var(--text-color);
    background-color: var(--background-color);
    border-color: var(--border-color);
}

select{
    color: var(--text-color);
    background-color: var(--background-color);
    border-color: var(--border-color);
}



/* ************************************************* */
/*        Main bordered container styles             */
/* ************************************************* */

.bordered {
    border: 1px solid;
    border-color: var(--border-color);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.bordered h3{
   margin-top: 0.1em; 
}

.bordered h4{
   margin-top: 1.5em; 
   margin-bottom: 1em;
}
.bordered button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 1em;
}
.bordered button:not(.previewButton){
    border-color: var(--border-color);
    background-color: var(--background-color);
    color: var(--text-color);
}
.bordered button:not(.previewButton).selected{
    background-color: green;
    color: white;
}

.paragraphReport{
    text-align: center;
    color: #6b8b6b;
}

.fftPlayButtons {
    flex-basis: 80%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.fftPlayButton{
    margin-top: 0em !important;
    margin-bottom: 0em !important;
}


  
/* ************************************************* */
/*       Layout of main parameter sliders            */
/* ************************************************* */

.slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.slider-container label {
   flex-basis: 20%;
   margin-left: 1em; 
}

.slider-container .tinyLabel {
    font-size: small;
    font-family: sans-serif;
    opacity: 0.4;
 }
 .slider-container .tinyLabelFull {
     font-size: small;
     font-family: sans-serif;
  }
 .slider-container .tinyLabelDiv {
     text-align: right   ;
  }

.slider-container .flipLabel {
   flex-basis: 15%;
   margin-right: 1em;
   text-align: right; 
}

.slider-container .modeLabel {
   flex-basis: 30%;
}

.slider-container .modeLabelLeft{
   text-align: right;
}
.slider-container  .modeLabelRight{
   text-align: left;
}

.slider-container input {
    flex-basis: 70%;
}

.slider-container input[type=checkbox] {
    flex-basis: 2%;
    opacity: 0.7;
}
.slider-container .hiddenCheckbox {
    display: none;
}

.slider-container .mid-slider {
    flex-basis: 36%;
}

.slider-container .short-slider {
    flex-basis: 15%;
}
.slider-container .longish-slider {
    flex-basis: 50%;
}

.slider-container output {
    flex-basis: 6em;
    text-align: center;
    margin-left: 6px;
}
.slider-container .longOut{
    flex-basis: 26%;
    text-align: left;
    margin-left: 2em;
}

.slider-container .blurredDisabled{
    filter: blur(1px);
    pointer-events: none !important;
    opacity: 0.3;
}


/* ************************************************* */
/*    Customisation of slider - to allow for themes  */
/* ************************************************* */

/* Range customisation from here: */
/* https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/ */
input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}
/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
    background: var(--tracks-color);
    height: 0.5rem;
  }
  
/******** Firefox ********/
input[type="range"]::-moz-range-track {
    background: var(--tracks-color);
    height: 0.5rem;
}
/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -3.5px; /* Centers thumb on the track */
    border-radius: 100%;
    background-color: var(--thumb-color);
    height: 1rem;
    width: 1rem;    
 }
/***** Firefox *****/
input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 100%;
    background-color: var(--thumb-color);
    height: 1rem;
    width: 1rem;    
}

/***** Focus Styles *****/
/* Removes default focus */
input[type="range"]:focus {
    outline: none;
  }
  
  /***** Chrome, Safari, Opera, and Edge Chromium *****/
  input[type="range"]:focus::-webkit-slider-thumb {
    border: 1px solid var(--thumb-focus-color);
    outline: 3px solid var(--thumb-focus-color);
    outline-offset: 0.125rem;
  }
  
  /******** Firefox ********/
  input[type="range"]:focus::-moz-range-thumb {
    border: 1px solid var(--thumb-focus-color);
    outline: 3px solid var(--thumb-focus-color);
    outline-offset: 0.125rem;     
  }





/* ************************************************* */
/*       Help icon and help popups                   */
/* ************************************************* */

.slider-container .help-icon {
    flex-basis: 20px;
}

.presetHeader .help-icon {
    margin-left:6em;
    flex-basis: 20px;
}

.help-icon {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding:2px;
    background-color: rgba(125, 125, 125, 0.5);
    color: white;
    font-family: sans-serif;
}

.help-popup {
    display: none;
    position: absolute;
    right: 3em;
    width: 20em;
    padding: 10px;
    background-color: var(--background-color);
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
}



/* ************************************************* */
/*       Canvases for diagrams                       */
/* ************************************************* */

#wavePreview{
    margin-top: 2em;
    margin-bottom: 0.5em;
   }
#distortionPreview{
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.waveformCanvas {
    margin-bottom: 2em;
}

.blur {
    filter: blur(4px);
}

.canvasHalfHeight {
    height: 150px;
}

.tooltip{
    padding : 10px;
    background: white;
    border : 1px solid black;
    border-radius : 5px;
}





/* ************************************************* */
/*       Spacing helpers                             */
/* ************************************************* */

.topSpaced{
    margin-top: 2em;
}
.bottomSpacedSlight{
    margin-bottom: 0.5em;
}
.bottomSpaced{
    margin-bottom: 2em;
}



/* ************************************************* */
/*       Individual section Preset handling          */
/* ************************************************* */

.presetHeader{
    display: flex;
    align-items: center;
}
.presetHeader h4{
    flex-basis: 20%;
}
.presetHeader h3{
    flex-basis: 20%;
}

.presetHeader .center{
    flex-basis: 70%;
    text-align: center;
}
.PresetButtons {
    flex-basis: 70%;
    display: flex;
    justify-content: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0em;
    margin-bottom: 0.5em;
}

.PresetButtons button{
    margin-top: 0em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}




/* ************************************************* */
/*       Diagram/Preview option buttons              */
/* ************************************************* */

.previewButtons {
    margin-top: 0em;
    width: 95%;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    justify-content:right;
}
.previewButtons p{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


.spaceTop{
    margin-top: 1.5em;
}
.previewButtons .previewL{
    margin-right:auto;
    justify-content:left;
}

.previewButtons .previewC{
    margin-right:auto;
    justify-content:center;
}

.previewButtons .previewButton{
    margin-top: 0em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: x-small;
}

.button-selected {
    background-color: #007B00; 
    color: white; 
    border-radius: 5px;
}

.button-unselected {
    border-color: var(--border-color);
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 5px;
}





/* ************************************************* */
/*       Preset handling                             */
/* ************************************************* */

#notesEdit{
    margin-left: 1em;
    flex-basis: 100%;
    border: none;
}

#serverPresetList{
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0em;
}




/* ************************************************* */
/*        ABX testing panel layout             */
/* ************************************************* */
#abxTestContainer {
    width: 25em;
    background-color: var(--background-color);
}

#abxTestContainer .testCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}
#abxTestContainer h3 {
    text-align: center;
}
.abxButtons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
    margin-bottom: 1em;
}

.abxAnswerButtons {
    max-height: 0;
    opacity: 0  ;
    overflow: hidden;
    transition: opacity 0.2s ease-out;
    transition: max-height 0.2s ease-out;
}

.abxAnswerButtons.show {
    opacity: 1 ;
    max-height: 300px;
}

.abxTestButtons {
    max-height: 0;
    opacity: 0  ;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

.abxTestButtons.show {
    opacity: 1 ;
    max-height: 200px;
}

.testSoundControls {

    margin: 0px;
    padding: 10px;
}

.centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}








/* ************************************************* */
/*        Pinning containers to top and bottom       */
/* ************************************************* */

:is(.stickyTop, .stickyBottom){
    position: sticky;
    z-index: 2;
    background-color: var(--background-color);
    margin-top: 0px;
    margin-bottom: 0px;
}
.stickyTop .bordered{
    margin-top: -5px;
    margin-bottom: 5px;
}
.stickyBottom .bordered{
    margin-bottom: -5px;
}
.stickyTop{
    top: 0px;
    padding-top:5px;
    padding-bottom:5px;
    
}
.stickyBottom{
    padding-top:0px;
    padding-bottom:5px;
    bottom: 0px;
}
.pin {
    display: flex;
    justify-content: flex-end; 
    align-items: start;
    align-self: flex-start;
    height: 30px; 
    width: 30px; 
    margin-right: 5px;
    margin-top:5px;
    cursor: pointer;
}
.flexHeader .pin{
    flex-basis: 10%;
    margin-top: auto;
    margin-bottom: auto;
}
:is(.stickyTop, .stickyBottom) .pin svg path{
    fill: var(--text-color);
}

.flexHeader{
    display: flex;
    justify-content: left;
}






/* ************************************************* */
/*                Collapsing bordered container      */
/* ************************************************* */

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.bordered .collapsible-header {
    cursor: pointer;
    text-align: right;
}

.header-text {
    transition: opacity 0.3s ease;
}

.fade-out {
    opacity: 0; 
}

.chevron {
    display: inline-block;
    transition: transform 0.3s ease;
    margin-left: 1em;
}

.rotate {
    transform: rotate(180deg);
}







/* ************************************************* */
/*                MUSHRA Related                     */
/* ************************************************* */


.mushraModalBackground {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .mushraModal {
    display: none;
    position: fixed;
    flex-direction: column;
    max-width: 1000px;
    min-width: 600px;
    max-height: 800px;
    width: 70%;
    height: 90%;
    top:5%;
    background-color: var(--background-color);
    z-index: 1001;
  }


  @media(max-width: 1000px){
    .mushraModal {
        padding: 5px;
        margin: 5%;
        width: 90%;
    }
  }


  @media(max-width: 800px){
    .mushraModal {
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
  }

  
  .mushraModalBackground .presetHeader h3{
    margin-top: 0.1em; 
    flex-basis: 40%;
 }


  .mushraModal #mushraOutputCanvas{
    height:50px;
  }
  
  .mushraModal #mushraResultCanvas{
    height:500px;
  }
  .mushraModal .canvasBox{
    padding-left: 20px;
    padding-right: 20px;
  }

  .mushraModal button.active{
    background-color: #007b008e;
    color: white;
  }
  
  .mushraModal .PresetButtons button{
    width:80px;
  }
  .mushraModal .PresetButtons button.blurredDisabled{
    filter: blur(1px);
    pointer-events: none !important;
    opacity: 0.3;
  }
.vertical-slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  
.vertical-slider-container.blurredDisabled input[type="range"]{
    filter: blur(1px);
    pointer-events: none !important;
    opacity: 0.3;
}

.vertical-slider-container.blurredDisabled button{
    filter: blur(1px);
    pointer-events: none !important;
    opacity: 0.3;
}
.vertical-slider-container.blurredDisabled label{
    filter: blur(1px);
    pointer-events: none !important;
    opacity: 0.3;
}

.vertical-slider-container.blurredDisabled p{
    filter: blur(1px);
    pointer-events: none !important;
    opacity: 0.3;
}

  .vSlideGroup{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100px;
    height: 300px;
  }

  
  @media(max-width: 800px){
    .vSlideGroup {
        width: 80px;
    }
  }

  .vSlideGroup .score{
    text-align: center;
    margin-top: 0.8em;
    margin-bottom: 0.2em;
    flex-basis: 4% ;
  }

  .vSlideGroup button{
    flex-basis: 16% ;
    margin-bottom: 10px;
    width: 58px;
  }


  .vSlideGroup.blurredDisabled  input[type="range"]{
    filter: blur(1px);
    pointer-events: none !important;
    opacity: 0.3;
}

  input[type="range"].vertSlider {
    flex-basis: 80% ;
    -webkit-appearance: none;
    width: 170px;
    height: 20px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 10px;
    transform: rotate(-90deg);
  }
  
  .vertSlider:hover {
    opacity: 1;
  }
  
  .vertSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--thumb-color);
    cursor: pointer;
  }
  
  .vertSlider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: var(--thumb-color);
    cursor: pointer;
  }

  .mScale{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    flex-basis: 80% ;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
.mScale p{
    margin-top: auto;
    margin-bottom: auto;
    font-size: x-small;
    text-align: center;
    opacity: 0.7;
}
.mScale p span{
    background-color: var(--background-color);
    padding: 0 2px;
}
.mScale .mValue::before{
    content: "";
    display: block;
    height: 1px;
    background-color: var(--text-color);; /* Change color as needed */
    position: relative;
    top: 50%;
    z-index: -100;
    opacity: 0.7;
}

#mushraTableContainer{
    margin:10px;
}

#mushraResultsTable {
    width: 100%; /* Stretch the table across the available space */
    border-collapse: collapse; /* Collapse borders to draw lines between cells */
}

#mushraResultsTable th{
    border: 1px solid var(--text-color); 
    padding: 10px; 
}

#mushraResultsTable td {
    border: 1px solid var(--text-color); 
    padding: 10px;
    text-align: center;
}

#mushraTextAnalysis{
    overflow: scroll;
}